@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@100;400;600&display=swap');
@import "./components/styles/variables.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.layout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 12px;
  }

  .layout {
    flex-direction: column;
  }
  
}
